<blockquote class="html-blockquote">
    <div class="html-blockquote-content">
        @ChildContent
    </div>
</blockquote>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
