@* ReadmeSection.razor - Banner linking to /readme *@

<div class="banner-card">
    <AppIcon Name="info" Class="text-primary" Decorative="true" />
    <p class="text-body text-muted">
        Check out the
        <a class="link-strong" href="/readme" data-umami-event="readme-section-link-click">README</a>
        to get to know me better.
    </p>
</div>
