<div class="row-end d-print-none">
    <div class="download-menu">
        <button type="button" class="download-trigger" @onclick="ToggleMenu">
            <AppIcon Name="download" />
            <span>Download CV</span>
            <AppIcon Name="chevron-down" />
        </button>

        @if (_isOpen)
        {
            <div class="download-menu-panel">
                <a class="menu-item-link" target="_blank" href="/Samet_Can_Cincik_CV_TR.pdf" download="Samet_Can_Cincik_CV_TR.pdf" data-umami-event="cv-download-tr-click">Özgeçmiş (TR)</a>
                <a class="menu-item-link" target="_blank" href="/Samet_Can_Cincik_CV_EN.pdf" download="Samet_Can_Cincik_CV_EN.pdf" data-umami-event="cv-download-en-click">Resume (EN)</a>
            </div>
        }
    </div>
</div>

@code {
    private bool _isOpen;

    private void ToggleMenu() => _isOpen = !_isOpen;
}