@* CodeLoadingSkeleton.razor - Animated skeleton placeholder for Monaco editor loading state *@

<div class="code-component-loading">
    <div class="code-component-loading-lines">
        <span class="code-component-loading-line" style="width: 92%;"></span>
        <span class="code-component-loading-line" style="width: 78%;"></span>
        <span class="code-component-loading-line" style="width: 96%;"></span>
        <span class="code-component-loading-line" style="width: 60%;"></span>
        <span class="code-component-loading-line" style="width: 88%;"></span>
        <span class="code-component-loading-line" style="width: 45%;"></span>
        <span class="code-component-loading-line" style="width: 82%;"></span>
        <span class="code-component-loading-line" style="width: 70%;"></span>
        <span class="code-component-loading-line" style="width: 94%;"></span>
        <span class="code-component-loading-line" style="width: 55%;"></span>
        <span class="code-component-loading-line" style="width: 86%;"></span>
        <span class="code-component-loading-line" style="width: 38%;"></span>
    </div>
</div>