@* CodeLoadingSkeleton.razor - Animated skeleton placeholder for Monaco editor loading state *@

<div class="code-component-loading">
    <div class="code-component-loading-lines">
        <span class="code-component-loading-line" style="width: 92%;"></span>
        <span class="code-component-loading-line" style="width: 68%;"></span>
        <span class="code-component-loading-line" style="width: 85%;"></span>
        <span class="code-component-loading-line" style="width: 50%;"></span>
        <span class="code-component-loading-line" style="width: 76%;"></span>
        <span class="code-component-loading-line" style="width: 35%;"></span>
    </div>
</div>